In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_x = pd.read_csv('Go_Auto_Dataset.csv')

In [ ]:
df_x.columns

Index(['listing_id', 'listing_heading', 'listing_type', 'listing_url',
       'listing_first_date', 'days_on_market', 'dealer_id', 'dealer_name',
       'dealer_street', 'dealer_city', 'dealer_province', 'dealer_postal_code',
       'dealer_url', 'dealer_email', 'dealer_phone', 'dealer_type',
       'stock_type', 'vehicle_id', 'vin', 'uvc', 'mileage', 'price', 'msrp',
       'model_year', 'make', 'model', 'series', 'style', 'certified',
       'has_leather', 'has_navigation', 'exterior_color',
       'exterior_color_category', 'interior_color', 'interior_color_category',
       'price_analysis', 'wheelbase_from_vin', 'drivetrain_from_vin',
       'engine_from_vin', 'transmission_from_vin', 'fuel_type_from_vin',
       'number_price_changes', 'price_history_delimited', 'distance_to_dealer',
       'location_score', 'listing_dropoff_date'],
      dtype='object')

In [ ]:
columns = ['listing_id','listing_type','listing_first_date','days_on_market',
           'dealer_id','dealer_city','dealer_postal_code','stock_type','vehicle_id',
           'vin','mileage', 'price', 'msrp',
           'model_year', 'make', 'model', 'series', 'style', 'certified',
           'has_leather',
           'exterior_color_category','interior_color_category',
           'wheelbase_from_vin', 'drivetrain_from_vin',
           'engine_from_vin', 'transmission_from_vin', 'fuel_type_from_vin',
           'number_price_changes', 'price_history_delimited',
           'location_score', 'listing_dropoff_date']

In [ ]:
df = df_x[columns]

In [ ]:
df.dtypes

listing_id                  object
listing_type                object
listing_first_date          object
days_on_market               int64
dealer_id                    int64
dealer_city                 object
dealer_postal_code          object
stock_type                  object
vehicle_id                   int64
vin                         object
mileage                      int64
price                        int64
msrp                         int64
model_year                   int64
make                        object
model                       object
series                      object
style                       object
certified                    int64
has_leather                  int64
exterior_color_category     object
interior_color_category     object
wheelbase_from_vin         float64
drivetrain_from_vin         object
engine_from_vin             object
transmission_from_vin       object
fuel_type_from_vin          object
number_price_changes         int64
price_history_delimited     object
location_score               int64
listing_dropoff_date        object
dtype: object

In [ ]:
df.columns

Index(['listing_id', 'listing_type', 'listing_first_date', 'days_on_market',
       'dealer_id', 'dealer_city', 'dealer_postal_code', 'stock_type',
       'vehicle_id', 'vin', 'mileage', 'price', 'msrp', 'model_year', 'make',
       'model', 'series', 'style', 'certified', 'has_leather',
       'exterior_color_category', 'interior_color_category',
       'wheelbase_from_vin', 'drivetrain_from_vin', 'engine_from_vin',
       'transmission_from_vin', 'fuel_type_from_vin', 'number_price_changes',
       'price_history_delimited', 'location_score', 'listing_dropoff_date'],
      dtype='object')

In [ ]:
df.shape

(145114, 31)

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum()

listing_id                     0
listing_type                   0
listing_first_date             0
days_on_market                 0
dealer_id                      0
dealer_city                    0
dealer_postal_code             0
stock_type                     0
vehicle_id                     0
vin                            0
mileage                        0
price                          0
msrp                           0
model_year                     0
make                           0
model                          0
series                       825
style                          0
certified                      0
has_leather                    0
exterior_color_category    34947
interior_color_category    58781
wheelbase_from_vin             0
drivetrain_from_vin            0
engine_from_vin                0
transmission_from_vin          0
fuel_type_from_vin             0
number_price_changes           0
price_history_delimited        0
location_score                 0
listing_dropoff_date       46984
dtype: int64

In [ ]:
df_active = df[df['listing_type'] == 'Active']
df_sold = df[df['listing_type'] == 'Sold']

In [ ]:
df_active.dtypes

listing_id                  object
listing_type                object
listing_first_date          object
days_on_market               int64
dealer_id                    int64
dealer_city                 object
dealer_postal_code          object
stock_type                  object
vehicle_id                   int64
vin                         object
mileage                      int64
price                        int64
msrp                         int64
model_year                   int64
make                        object
model                       object
series                      object
style                       object
certified                    int64
has_leather                  int64
exterior_color_category     object
interior_color_category     object
wheelbase_from_vin         float64
drivetrain_from_vin         object
engine_from_vin             object
transmission_from_vin       object
fuel_type_from_vin          object
number_price_changes         int64
price_history_delimited     object
location_score               int64
listing_dropoff_date        object
dtype: object

In [ ]:
df_active_new = df_active[df_active['stock_type'] == 'NEW']
df_active_used = df_active[df_active['stock_type'] == 'USED']

In [ ]:
df_active_new.dtypes

listing_id                  object
listing_type                object
listing_first_date          object
days_on_market               int64
dealer_id                    int64
dealer_city                 object
dealer_postal_code          object
stock_type                  object
vehicle_id                   int64
vin                         object
mileage                      int64
price                        int64
msrp                         int64
model_year                   int64
make                        object
model                       object
series                      object
style                       object
certified                    int64
has_leather                  int64
exterior_color_category     object
interior_color_category     object
wheelbase_from_vin         float64
drivetrain_from_vin         object
engine_from_vin             object
transmission_from_vin       object
fuel_type_from_vin          object
number_price_changes         int64
price_history_delimited     object
location_score               int64
listing_dropoff_date        object
dtype: object

In [ ]:
df_active.shape

(46984, 31)

In [ ]:
df_active['listing_dropoff_date'].isnull().sum()

46984

In [ ]:
df_sold.shape

(98130, 31)

In [ ]:
df_sold['listing_dropoff_date'].isnull().sum()

0

In [ ]:
df_active = df_active.drop('listing_dropoff_date',axis = 1)

In [ ]:
df_active.shape

(46984, 30)

In [ ]:
df_sold.shape

(98130, 31)

In [ ]:
df_active.sample(5)

,listing_id,listing_type,listing_first_date,days_on_market,dealer_id,dealer_city,dealer_postal_code,stock_type,vehicle_id,vin,...,exterior_color_category,interior_color_category,wheelbase_from_vin,drivetrain_from_vin,engine_from_vin,transmission_from_vin,fuel_type_from_vin,number_price_changes,price_history_delimited,location_score
106869,3c82f123-e76a-4359-850b-21a0bc12d863,Active,7/16/2024 0:00,15,11245041,St Albert,T8N 2Y3,NEW,581421,3GTUUFEL9RG388429,...,gray,NaN,3748.0,4WD,6.2L V8 DI OHV,A,Gas,2,"2024-07-16,103331,10:2024-07-18,95184,10:2024-...",5
8327,f6721376-4896-11ef-8faf-b556c2cde93f,Active,7/22/2024 0:00,9,11236232,Acheson,T7X 5A3,USED,333477,3C4PDCAB6FT700105,...,black,black,2890.0,FWD,2.4L I-4 SFI DOHC,A,Gas,0,"2024-07-22,12995,143999",5
143671,7af3f96c-7f82-4b72-969d-ea04aabc45a8,Active,7/16/2024 0:00,15,11245093,Edmonton,T5S 1N9,NEW,582464,3VVLX7B21RM100331,...,blue,"gray,brown,black",2680.0,AWD,1.5L I-4 DI DOHC T/C,A,Gas,0,"2024-07-16,0,0",5
126449,268104ff-a007-468d-816e-a014b2a3523d,Active,7/16/2024 0:00,15,11244933,Edmonton,T5V 0C3,NEW,582434,4JGGM5DBXRA048488,...,green,NaN,3030.0,AWD,90.6kWh ELEC,A,Electric,1,"2024-07-16,160597,90:2024-07-19,160675,90",5
18229,efd2b414-b325-426e-a9c4-f34a5d5ac292,Active,7/16/2024 0:00,15,11244933,Edmonton,T5V 0C3,USED,393402,4JGDA6EB7HA956525,...,NaN,black,2915.0,AWD,3.0L V6 DI DOHC 2-T/C,A,Gas,1,"2024-07-16,37598,116385:2024-07-20,37098,116385",5